<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/beans/fragments :: head (title='bean view page')"></head>
<body th:inline="text">
<section  class="container">
	<div class="well">
	   bean name: <a th:href="${url}" th:text="${beanName}"></a><br/>
	   bean class: <span th:text="${beanClassName}"></span>
	</div>
</section>

<div class="container">
    <section th:replace="admin/beans/fragments :: beanSearchSection (${kw}, '../beans')" />
</div>

<!-- properties area -->
<div class="container-fluid" th:if="${not #lists.isEmpty(properties)}">
    <div class="panel panel-default">
        <div class="panel-heading">
		    <h3>Property View</h3>
        </div>
	    <table class="table table-bordered table-condensed table-striped table-hover">
	        <thead>
	            <tr>
		            <th>Name</th>
		            <th>Value</th>
		            <th>Type</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="propEntry : ${properties}">
	                <td><a th:text="${propEntry.key}" th:href="${propEntry.value.url}">property name</a></td>
	                <td th:switch="${propEntry.value.value.beanRef}">
	                    <a th:case="true" th:href="${propEntry.value.value.beanUrl}" th:text="${propEntry.value.value.beanName}"></a>
	                    <span th:case="false" th:text="${propEntry.value.value.toString}"></span>
	                </td>
	                <td th:text="${propEntry.value.type}"></td>
	            </tr>
	        </tbody>
	        <tfoot>
	        </tfoot>
	    </table>
    </div>
</div>

<!-- methods area -->
<div class="container-fluid" th:if="${not #lists.isEmpty(methods)}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Method View</h3>
        </div>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Return Type</th>
                    <th>Declaring Class</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="methodEntry : ${methods}">
                    <td><a th:text="${methodEntry.key}" th:href="${methodEntry.value.url}"></a></td>
                    <td th:text="${methodEntry.value.returnType}"></td>
                    <td th:text="${methodEntry.value.declaringClass}"></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>