<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/beans/fragments :: head (title='beans view page')">
</head>
<body>
<script th:inline="javascript">
$(function () {
    var beansInfo = [[${beansInfo}]];
    dyn.init(beansInfo);
});
</script>
<form th:replace="admin/beans/fragments :: beanSearchForm ('')"></form>
<section class="container-fluid">
    <select>
        <option value="">Select Type</option>
        <option value="org.springframework.boot.SpringApplication">SpringApplication</option>
    </select>
</section>
</body>
</html>